%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-SL .path1:before {
	content: "\e900";
	color: rgb(50, 54, 66);
}

._icon-SL .path2:before {
	content: "\e901";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

._icon-facebook:before {
	content: "\e902";
}

._icon-google:before {
	content: "\e903";
}

._icon-linkedin .path1:before {
	content: "\e904";
	color: rgb(50, 54, 66);
}

._icon-linkedin .path2:before {
	content: "\e905";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

._icon-twitter:before {
	content: "\e906";
}

._icon-youtube .path1:before {
	content: "\e907";
	color: rgb(50, 54, 66);
}

._icon-youtube .path2:before {
	content: "\e908";
	margin-left: -1.4482421875em;
	color: rgb(255, 255, 255);
}