.news-block {
   flex: 0 1 rem(800);
   // margin-bottom: rem(118);

   // .news-block__title
   &__title {
      font-size: rem(32);
      font-weight: 300;
      line-height: math.div(44, 32);
      margin-bottom: em(10, 32);
   }

   // .news-block__body
   &__body {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(40);

      @media (max-width:$tablet) {
         margin-bottom: rem(60);
      }
   }

   // .news-block__card
   &__card {}

   button {
      display: block;
      text-transform: uppercase;
      min-width: rem(260);
      margin: 0 auto;

      @media (max-width:$tablet) {
         min-width: rem(315);
      }
   }
}

.card-news {
   display: flex;
   position: relative;
   padding: rem(30) 0;

   @media (max-width:$tablet) {
      display: grid;
      grid-template-columns: 280px auto;
      row-gap: rem(20);
   }

   @media (max-width:625px) {
      grid-template-columns: 1fr;
   }

   &::after {
      content: '';
      height: 1px;
      width: calc(740 / 800 * 100%);
      background-color: #EBECED;
      position: absolute;
      bottom: 0;
      left: 0;

      @media (max-width:$tablet) {
         width: 100%;
      }
   }

   // .card-news__img
   &__img {
      height: rem(180);
      max-width: rem(280);
      width: 100%;
      overflow: hidden;
      padding-bottom: 180px;
      position: relative;



      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.1);
            }
         }
      }

      @media (max-width: 625px) {
         margin: 0 auto;
         height: rem(200);
         max-width: rem(315);
      }

      a {

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }

      img {
         transform: scale(1);
         transition: transform 0.3s ease 0s;
      }
   }

   // .card-news__content
   &__content {
      padding: 0 rem(50) 0 rem(40);
   }

   // .card-news__text
   &__text {
      font-size: rem(24);
      font-weight: 300;
      line-height: math.div(34, 24);
      color: $mainColor;
      margin-bottom: rem(11);
   }

   // .card-news__bottom
   &__bottom {}

   // .card-news__info
   &__info {}

   // .card-news__title
   &__title {
      line-height: math.div(22, 14);
      margin-bottom: rem(8);

      a {
         color: #323642;
         padding-right: rem(11);

         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }

      span {
         color: #889099;
      }

      span+span {
         padding-left: rem(8);
      }
   }

   // .card-news__list
   &__list {
      margin-bottom: rem(11);
      display: flex;
      flex-wrap: wrap;
      column-gap: rem(5);
   }

   // .card-news__item
   &__item {}

   // .card-news__link
   &__link {
      color: #4CB649;
      text-transform: uppercase;
      letter-spacing: rem(0.5);
      font-size: rem(12);
      line-height: math.div(16, 12);

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .card-news__comment
   &__comment {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: rem(13);

      span {
         color: #889099;
      }
   }
}