.sidebar {
   max-width: rem(400);
   padding-top: rem(100);
   padding-left: rem(60);
   position: relative;

   &::before {
      content: '';
      width: 1px;
      height: 97%;
      background: #EBECED;
      position: absolute;
      top: 0;
      left: 0;
   }
}

.sidebar__img-ibg {
   padding-bottom: rem(454);
}

.info-sidebar {
   display: flex;
   flex-direction: column;
   row-gap: rem(42);
   margin-bottom: rem(28);

   // .info-sidebar__item
   &__item {
      padding-bottom: rem(28);
      position: relative;

      &::after {
         content: '';
         height: 1px;
         width: 340px;
         background: #EBECED;
         position: absolute;
         bottom: 0;
         right: 0;
      }
   }

   // .info-sidebar__title
   &__title {
      display: flex;
      align-items: center;
      column-gap: rem(30.82);
      font-size: rem(24);
      font-weight: 300;
      line-height: math.div(34, 24);
      margin-bottom: rem(31);
   }

   // .info-sidebar__list
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: rem(16);

      li {
         color: #323642;
         line-height: math.div(22, 14);
         list-style: disc;

         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }

      ::marker {
         color: $mainGreen;
      }
   }
}

.tags-sidebar {
   padding-top: rem(51);

   // .tags-sidebar__title
   &__title {
      font-size: rem(24);
      font-weight: 300;
      line-height: math.div(34, 24);
      margin-bottom: rem(20);
   }
}

// tags cloud

.tags-sidebar__cloud {
   list-style: none;
   padding-left: 0;
   line-height: math.div(22, 14);
   max-width: rem(272);

   li {
      display: inline;
   }
}


.tags-sidebar__cloud a {
   padding: 0.125rem 0.25rem;
   text-decoration: none;

   @media (any-hover: hover) {
      &:hover {
         text-decoration: underline;
      }
   }
}

.tags-sidebar__cloud a[data-weight="1"] {
   font-size: rem(10);
   color: #A3A3A9;
}

.tags-sidebar__cloud a[data-weight="2"] {
   font-size: rem(12);
   color: #7A7A7E;
}

.tags-sidebar__cloud a[data-weight="3"] {
   font-size: rem(14);
   color: #B7B7BC;
}

.tags-sidebar__cloud a[data-weight="4"] {
   font-size: rem(16);
   color: #7A7A7A;
}

.tags-sidebar__cloud a[data-weight="5"] {
   font-size: rem(18);
   color: #66666B;
}

.tags-sidebar__cloud a[data-weight="6"] {
   font-size: rem(20);
   color: #000;
}