.sidebar {
   max-width: rem(400);
   padding-top: rem(100);
   padding-left: rem(60);

   // .sidebar__wrapper
   &__wrapper {}

   // .sidebar__body
   &__body {}

   // .sidebar__info-block
   &__info-block {}

   // .sidebar__img
   &__img {}

   // .sidebar__tags-block
   &__tags-block {}
}

.sidebar__img-ibg {
   padding-bottom: rem(454);
}

.info-sidebar {
   display: flex;
   flex-direction: column;
   row-gap: rem(42);
   margin-bottom: rem(28);

   // .info-sidebar__item
   &__item {
      padding-bottom: rem(28);
      position: relative;

      &::after {
         content: '';
         height: 1px;
         width: 340px;
         background: #EBECED;
         position: absolute;
         bottom: 0;
         right: 0;
      }
   }

   // .info-sidebar__title
   &__title {
      display: flex;
      align-items: center;
      column-gap: rem(30.82);
      font-size: rem(24);
      font-weight: 300;
      line-height: math.div(34, 24);
      margin-bottom: rem(31);
   }

   // .info-sidebar__list
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: rem(16);

      li {
         color: #323642;
         line-height: math.div(22, 14);
         list-style: disc;
      }

      ::marker {
         color: $mainGreen;
      }
   }
}

.tags-sidebar {
   padding-top: rem(51);

   // .tags-sidebar__title
   &__title {
      font-size: rem(24);
      font-weight: 300;
      line-height: math.div(34, 24);
      margin-bottom: rem(20);
   }

   // .tags-sidebar__box
   &__box {
      a {
         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}