//====================================================================================================
.footer {
   padding-top: rem(84);
   padding-bottom: rem(90);
   background: #FFFFFF;

   // .footer__container
   &__container {}

   // .footer__title
   &__title {
      font-size: rem(27);
      line-height: math.div(33, 27);
      color: #000000;
      margin-bottom: rem(58);
   }

   // .footer__body
   &__body {
      display: flex;
      justify-content: space-between;

      @media (min-width:$pc) {
         font-size: rem(50);
         flex-direction: column;
      }
   }

   // .footer__services
   &__services {
      flex: 0 1 50%;
      display: flex;
      padding-right: rem(69);
   }

   // .footer__info-block
   &__info-block {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      row-gap: rem(40);
   }

   // .footer__about
   &__about {}

   // .footer__social
   &__social {}
}

.services-footer {
   display: flex;
   justify-content: space-between;
   column-gap: rem(15);

   // .services-footer__item
   &__item {}

   // .services-footer__wrapper
   &__wrapper {
      display: flex;
      flex-direction: column;
      row-gap: rem(58);
   }
}

.footer-title {
   font-weight: 500;
   line-height: math.div(18, 14);
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #323642;
   margin-bottom: rem(20);
}

.service-footer {

   // .service-footer__title
   &__title {}

   // .service-footer__list
   &__list {}

   // .service-footer__item
   &__item {
      line-height: math.div(29, 14);
      color: #889099;
   }

   // .service-footer__link
   &__link {
      @media (any-hover: hover) {
         transition: all 0.3s ease 0s;

         &:hover {
            text-decoration: underline;
            color: #000;
         }
      }
   }
}

.about-footer {

   // .about-footer__title
   &__title {}

   // .about-footer__text
   &__text {
      line-height: math.div(22, 14);
      color: #889099;
      display: flex;
      flex-direction: column;
      row-gap: rem(14);

      // .about-footer__text--small
      &--small {
         font-size: rem(12);
         line-height: math.div(16, 12);
      }
   }
}

.social-footer {

   // .social-footer__title
   &__title {
      margin-bottom: rem(25);
   }

   // .social-footer__icons
   &__icons_list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: rem(31);
      height: rem(30);

      li {
         transform: scale(1);
         transition: transform 0.2s ease 0s;

         a {
            svg {
               height: rem(30);
            }
         }

         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }
}

//====================================================================================================